# Binaries
*.bak
*.bin
*.~*
*.exe
*.dcu

# Quartus-files
undo_redo.txt
serv_req_info.txt

# Temporary files
*.tmp

# Directories
db/
greybox_tmp/
incremental_db/
output_files/
questa/

# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
