100 DIALOG DISCARDABLE 0, 0, 219, 201
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS SHELL DLG"
BEGIN
END

110 ICON Icon.ico

120 DIALOG DISCARDABLE 0, 0, 219, 201
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS SHELL DLG"
BEGIN
    LTEXT        "Dateiname:",IDC_STATIC,9,17,37,8
    LISTBOX      110,14,29,177,80,LBS_SORT | LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON   "Open",120,9,118,55,14
END
